//content
nav {
  height: 80px;
}
nav ul li a {
  color: black;
  font-size: $navTextSize;
  font-family: Heebo;
}
nav .navbar-logo a {
  font-family: Dancing Script;
  color: rgb(77, 76, 76);
  font-size: 1.8rem;
}

//nesting
nav {
  flex-direction: row;
  justify-content: space-around;
  border-top: 3px solid $univesalColor;
  padding-top: 10px;
  @include desktop {
    justify-content: space-between;
  }
  .navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include desktop {
      width: auto;
      margin-left: 70px;
    }
    @include mobile {
      margin-left: 30px;
    }
    .navbar-brand {
      margin-left: 15px;
      text-decoration: none;
      @include desktop {
        display: none;
      }
    }
  }
  .nav-container {
    width: 610px;
    height: 70px;
    @include desktop {
      width: auto;
    }
  }
  .hamburger {
    width: 100%;
    height: 80px;
    background-color: #fff;
    color: #1ae0ec;
    font-size: 3em;
    font-weight: bold;
    display: none;
    text-align: center;
    @include desktop {
      display: block;
      width: 150px;
      height: auto;
      &:hover + ul {
        display: block;
        position: absolute;
      }
    }
  }
  ul {
    list-style-type: none;
    @include desktop {
      display: none;
      flex-direction: column;
      background-color: white;
      &:hover {
        display: block;
        position: absolute;
      }
    }
    li {
      &:first-child a {
        color: #1ae0ec;
        font-weight: bold;
      }
      @include desktop {
        width: 150px;
        border-bottom: 2px solid $univesalColor;
      }
      a {
        display: block;
        width: 150px;
        text-align: center;
        line-height: 2.5;
        text-decoration: none;
      }
    }
  }
}
